/.vs/
/bin/
/obj/
/Debug/
/Release/
Artifacts/
Logs/
Backups/
Reports/
Exports/
Imports/
Temp/
*.user
*.suo
*.backup
*.old
*.copy
*.teste
*.tmp
*.temp
*.bak
*.orig
*.rej
*.cache
*.lscache
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
*.log
*.binlog
*.zip
*.nupkg
build_output.txt
TestResults/
